@charset "UTF-8";
/* import font from gg font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* import font from gg font*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
font-size: var(--mfont-size);
-webkit-text-size-adjust: none;
font-weight: 400;
}
html:focus-within {scroll-behavior: smooth;}
img {vertical-align: middle;max-width: 100%;flex-shrink: 0;height: auto;}
*,
::before,
::after{box-sizing:border-box;outline: none;}
select { visibility: visible !important; }
a{transition:all ease 0.3s;text-decoration:none;}
a[href^="tel:"] {word-break: keep-all;}
/*==========================================================================*/
/*                               Container                                  */
/*==========================================================================*/
html{background:#fff}
body{color:var(--txt);-webkit-text-size-adjust:none;min-width:320px;font-family: "Roboto", sans-serif;font-size: var(--mfont-size);margin: 0}
table {width: 100%}
h1,h2,h3,h4,h5,h6{line-height: 1.5;margin: 0}
p,
dd,
dt,
li,
th,
td,
address{line-height: 2em;letter-spacing: 0;margin: 0}
p {margin: 0 0 1.5em;font-size: var(--mfont-size);}
p:last-child{margin-bottom: 0}
ul{padding: 0;margin: 0;list-style-type: none;}

.bold{font-weight: bold;}
.left{text-align:left}
.right{text-align: right;}
.auto{margin-left: auto; margin-right: auto;}
.red{color: var(--red);}
.txt_line{text-decoration: underline;}
.m0a{display: block;margin: 0 auto;}
.f_big{font-size: 150%;}
.f_sm{font-size: 80%;}
.d-flex {display: flex; }
.justify-between {justify-content: space-between; }
.justify-center {justify-content: center; }
.align-center {align-items: center;}
.align-start {align-items: flex-start; }
.center, .text-center {text-align: center; }
.text-left {text-align: left; }
.text-right {text-align: right; }

:root {
  --font-main: "Roboto", sans-serif;
  --font-title: "Bebas Neue", sans-serif;
  --txt: #000;     
  --mcolor: #003b7d;
  --scolor: #999999;
  --red: #e31f26;
  --site_size: 1240px;
  --mfont-size: 16px;
  --border-color: red;
  
  --gray: #e9e9e9;
}

#wrapper{}
.inner{width: var(--site_size);margin:0 auto;position:relative;max-width: 100%;padding: 0 20px;}
.container {max-width: 1240px; padding: 0 20px; margin: 0 auto; transition: 0.2s; }

.roboto{font-family: var(--font-main);}
.bebas{font-family: var(--font-title);}


.game_zone_top{padding-bottom: 30px;position: relative;}
.you-win-box{position: absolute;left: 0;bottom: 0;display: flex;justify-content: center;align-items: center;width: 100%}
.you-win{color: var(--red);text-align: center;display: none;font-weight: 700}
.you-win.active{display: block;}
.start_btn{margin-bottom: 0}